* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --body-color-dark: rgb(14, 14, 69);
  --body-color-light: rgb(191, 191, 232);
}
body {
  &.dark {
    --body-color: var(--body-color-dark);
  }
  &.light {
    --body-color: var(--body-color-light);
  }
  background: var(--body-color);
}

.flex {
  display: flex;
}

.justify-spacebw {
  @extend .flex;
  justify-content: space-between;
}

.align-center {
  @extend .flex;
  align-items: center;
}
